.content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.collections{
    display: flex;
    align-items: center;
}
.title{
    font-size: 1.4em;
}


.cardImage{
    z-index:-1;
    cursor: copy;
}
.collectionImage{
    border: 4px solid black;
}
